# Build outputs
/build/
/out/
/package/
/dist/
/vcpkg_installed/

# Visual Studio / CMake
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeUserPresets.json

# Binaries / archives
*.dll
*.pdb
*.obj
*.lib
*.exp
*.zip
*.7z
*.rar

# Logs / temp
*.log
*.tmp
*.bak
*.swp
*~
Thumbs.db
.DS_Store
